[project]
	description = Desktop/Android/HTML5/iOS Java game development framework
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Goran Stupar (goranstupar)
[access "refs/for/refs/*"]
	read = group user/Goran Stupar (goranstupar)
	push = group user/Goran Stupar (goranstupar)
	label-Code-Review = -2..+2 group user/Goran Stupar (goranstupar)
	label-Verified = -1..+1 group user/Goran Stupar (goranstupar)
	rebase = group user/Goran Stupar (goranstupar)
	removeReviewer = group user/Goran Stupar (goranstupar)
	submit = group user/Goran Stupar (goranstupar)
[access "refs/heads/*"]
	read = group user/Goran Stupar (goranstupar)
	create = group user/Goran Stupar (goranstupar)
	push = +force group user/Goran Stupar (goranstupar)
	pushMerge = group user/Goran Stupar (goranstupar)
[access "refs/tags/*"]
	push = +force group user/Goran Stupar (goranstupar)
	pushTag = group user/Goran Stupar (goranstupar)
	pushSignedTag = group user/Goran Stupar (goranstupar)
